.header{
	text-align: center;
}
table {
	width: 100%;
	border-collapse: collapse;
	margin: 5px auto;
	margin-left: 1%;
	margin-right: 1%;
}

select {
	display: block;
}

th,
td {
	padding: 7px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.add_row_btn,
.download_scheme_btn,
.download_RPZ_btn,
.download_stl_btn {
	margin: 5px auto;
	margin-left: 2%;
	margin-right: 2%;
}