<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href={{ url_for('static', filename=styles[0]) }}>
	<title>Характеристики груза</title>
</head>

<body>
	<h2 class="header">Характеристики груза</h2>
	<table id="cargo_table" class="responsive-table striped">
		<thead>
			<tr>
				<th>№ п/п</th>
				<th>№ груза</th>
				<th>Наименование груза</th>
				<th>Длина (мм)</th>
				<th>Ширина (мм)</th>
				<th>Высота (мм)</th>
				<th>Кол-во (шт)</th>
				<th>Вес 1 ед (кг)</th>
				<th>Материал упаковки</th>
				<th>Общий вес (кг)</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>

	<button id='add_row_btn' class="btn waves-effect waves-light" onclick="addRow()">Добавить строку</button>
	<button id='download_scheme_btn' class="btn waves-effect waves-light">Скачать схему</button>
	<button id='download_RPZ_btn' class="btn waves-effect waves-light">Скачать РПЗ</button>
	<button id='download_stl_btn' class="btn waves-effect waves-light">Скачать 3D модель</button>
	<br>
	<div id="scene-container"></div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
	<script type="module" src="{{ url_for('static', filename=scripts[0]) }}"></script>
	<script type="module" src="{{ url_for('static', filename=scripts[1]) }}"></script>
	<script>
		function addRow() {
			const table = document.querySelector("#cargo_table");
			const row = table.insertRow(table.rows.length);
			const cellNumber = table.rows[0].cells.length;
			let cells = [];
			const number_pp_cell = row.insertCell(0);
			number_pp_cell.innerHTML = "<th class='number_pp'>" + (table.rows.length - 1) + "</th>";
			cells.push(number_pp_cell);
			const cargo_number_cell = row.insertCell(1);
			cargo_number_cell.innerHTML = "<th class='cargo_number'>" + (table.rows.length - 1) + "</th>";
			cells.push(cargo_number_cell);
			for (let index = 2; index < cellNumber - 2; index++) {
				const cell = row.insertCell(index);
				cell.innerHTML = "<input type='text'>";
				cells.push(cell);
			}
			let materials = {{ materials_list| tojson }};
		let innerHTML = "<select required='required' class='box_material'><option value=''>Выберите значение</option>";
		for (let i = 0; i < materials.length; i++) {
			innerHTML += "<option value='" + i + "'>" + materials[i] + "</option>";
		}
		innerHTML += "</select>";
		const box_material_cell = row.insertCell(8);
		box_material_cell.innerHTML = innerHTML;
		cells.push(box_material_cell);

		const total_weight_cell = row.insertCell(9);
		total_weight_cell.innerHTML = "<th class='total_weight'>0</th>";
		cells.push(total_weight_cell);
		const updateTotalWeight = function () {
			const quantity = parseFloat(cells[6].querySelector("input").value);
			const weight = parseFloat(cells[7].querySelector("input").value);
			if (!isNaN(quantity) && !isNaN(weight)) {
				cells[9].innerHTML = `<th>${quantity * weight}</th>`;
			} else {
				cells[9].innerHTML = `<th>0</th>`;
			}
		};

		cells[6].addEventListener("input", updateTotalWeight);
		cells[7].addEventListener("input", updateTotalWeight);

		const delete_button_cell = row.insertCell(cellNumber);
		delete_button_cell.innerHTML = "<button class='btn waves-effect waves-light' onclick='deleteRow(this)'>Удалить</button>";
		}

		function deleteRow(button) {
			const table = document.querySelector("#cargo_table");
			const row = button.parentNode.parentNode;
			table.deleteRow(row.rowIndex);
		}
	</script>
</body>

</html>